<%- include('../partials/header') %>

<% if ( user ) { %>
<div class="container">
  <div class="row">
    <div id="users" class="col s12">
      <% users.forEach(function(u) { %>
        <% if (u._id.equals(user && user._id)) { %>      
          <div class="card blue-grey">
            <div class="card-content white-text">
              <form action="/users/blog" method="POST">
                <input type="text" name="post" class="black-text">
                <button type="submit" class="btn white-text">Post A Blog</button>
              </form>
            </div>
          </div>    
        <% } %> 
      <% }) %>          
    </div>
  </div>
</div>
<% users.forEach(function(u) { %>
  <% u.blogs.forEach(function(blog) { %> 
    <div class="row">
        <div id="students" class="col s12">
            <div class="card blue-grey">
              <div class="card-content white-text">
                <div>
                  <span class="card-title">
                    <span class="user-name"><%= user.name %></span>
                  </span>
                </div>
                <ul class="collection">
                  <li class="collection-item blue-grey-text text-darken-2"><%- blog.post %></li>
                </ul>
                <% if (u._id.equals(user && user._id)) { %>
                  <div class="card-action">
                    <form action="/users/blog/<%= blog._id %>?_method=DELETE" method="POST" class="secondary-content">
                      <button type="submit" class="btn-small red-text">X</button>
                    </form>
                    <form action="/users/blog/<%= blog._id %>" method="POST" class="secondary-content">
                      <input type="text" name="post" class="white-text">
                      <button type="submit" class="btn-small red-text">Edit</button>
                    </form> 
                  </div>
                <% } %> 
              </div>
              <!-- .filter(comment => {              
                console.log(comment.blogId.equals(comment.blogId), blog._id, comment.blogId, blog._id)
                comment.blogId === blog._id
              } ) -->
              <% 
              u.comment.forEach(function(comment) { 
                console.log(comment.blogId.equals(blog._id))
                if(comment.blogId.equals(blog._id)) return %>
                <li class="collection-item blue-grey-text text-darken-2"><%- comment.post %>
              <% }) %>
              <form action="/comment/<%= blog._id %>" method="POST" class="secondary-content">
                <input type="text" name="post" class="black-text">
                <button type="submit" class="btn-small red-text">Comment</button>                
              </form>                
              </div>                             
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
              
<% }) %>    


<% } else { %>
  <h1>Log in to see blogs</h1>
<% } %>


<%- include('../partials/footer') %>







