<%- include('../partials/header') %>
<% if ( user ) { %>
<table id="list">
  <thead>
    <tr>
      <th>Bloggers</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(function(u) { %>
      <tr>
        <td><%= u.name %>
          <ul class="collection">
            <% u.blogs.forEach(function(blog) { %>
              <li class="collection-item blue-grey-text text-darken-2"><%- blog.post %>
                <% if (u._id.equals(user && user._id)) { %>
                  <form action="/users/blog/<%= blog._id %>?_method=DELETE" method="POST" class="secondary-content">
                    <button type="submit" class="btn-small red-text">X</button>
                  </form>
                <% } %>              
              </li>
            <% }) %>
          </ul>          
          <% if (u._id.equals(user && user._id)) { %>
            <div class="card-action">
              <form action="/users/blog" method="POST">
                <input type="text" name="post" class="white-text">
                <button type="submit" class="btn white-text">Blog Post</button>
              </form>
            </div>
            <div>
              <form action="/users/delete">
                <button type="submit" class="btn white-text">Delete Post</button>              
              </form>
            </div>
          <% } %>         
        </td>
        <td><a href="/blog<%= u._id %>">View Blog</a></td>
      </tr>
    <% }); %>
    </tbody>
  </table>
<% } else { %>
<h1>Log in to see blogs</h1>
<% } %>



<%- include('../partials/footer') %>







